<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<style>
    body{
        background-image: url('');
    
    }
    .parent{
        text-align: center;
        margin-top: 10%;
    }
</style>
<body>
    <div class="parent">
        <h3> Registeration Form</h3>
        
            <form method="post">
            <p>
            <label for="">First Name</label>
            <input type="text" name="s_fname" placeholder="Enter First Name" >
        </p>
        <p>
            <label for="">Last Name</label>
            <input type="text" name="s_lname" placeholder="Enter Last Name">
        </p>
        <p>
            <label for="">Email</label>
            <input type="email" name="email" placeholder="Enter Email">
        </p>
        <p>
            <label for="">Password</label>
            <input type="password" name="password" placeholder="Enter password">
        </p>
        <p>
            <label for="">Conform Password</label>
            <input type="password" placeholder="Conform your password">
        </p>
        <p>
            <button type="submit">submit</button>
        </p>
            </form>
        </div>

    
</body>
</html>