<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Userotp</title>
</head>
<style>
    .parent{
        text-align: center;
        padding: 2%;
        border: 1px black solid;
    }
</style>
<!doctype html>
<title>My Application</title>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <center style="color: blue;">{{ message }}</center>
    {% endfor %}
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
<body>
    <form method="post">
        <div class="parent">
            <label for="">Enter OTP</label>
            <input type="text" name="otp" placeholder="ENTER YOUR OTP">
            <button>Submit</button>
        </div>
    </form>
</body>
</html>